In [3]:
import pandas as pd
import numpy as np

In [4]:
movie_gross =pd.read_csv('zippedData/bom.movie_gross.csv.gz')
movie_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [5]:
budget = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')
budget.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [10]:
title_basics = pd.read_csv('zippedData/imdb.title.basics.csv.gz')
title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [12]:
title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [11]:
title_ratings = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')
title_ratings.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [13]:
title_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [14]:
#### now i am merging title to ratings to get movie name and ratings and vote together

title_ba_ra = pd.merge(title_basics,title_ratings)
title_ba_ra.columns

Index(['tconst', 'primary_title', 'original_title', 'start_year',
       'runtime_minutes', 'genres', 'averagerating', 'numvotes'],
      dtype='object')

In [16]:
title_ba_ra.head(20)

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119
5,tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller",4.1,32
6,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy",8.1,263
7,tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,Drama,6.8,451
8,tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,History,4.6,64
9,tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.0,Documentary,7.6,53
10,tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.0,Drama,6.9,120
11,tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.0,Documentary,7.5,6
12,tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"Animation,Drama,History",7.8,584
13,tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,Drama,4.0,72
14,tt0230212,The Final Journey,The Final Journey,2010,120.0,Drama,8.8,8
15,tt0247643,Los pájaros se van con la muerte,Los pájaros se van con la muerte,2011,110.0,"Drama,Mystery",4.0,12
16,tt0249516,Foodfight!,Foodfight!,2012,91.0,"Action,Animation,Comedy",1.9,8248
17,tt0250404,Godfather,Godfather,2012,NaN,"Crime,Drama",6.7,236
18,tt0253093,Gangavataran,Gangavataran,2018,134.0,NaN,6.6,8
19,tt0255820,Return to Babylon,Return to Babylon,2013,75.0,"Biography,Comedy,Drama",5.9,123

In [ ]:
#### i will now taking off primary title, start year. to minimize the data set before i do another merge with other data set.
budget.drop('release_date', axis=1, inplace= True)

In [27]:
new_title_rating = title_ba_ra.drop(['primary_title','start_year'], axis=1, inplace= True)
new_title_rating.info()

KeyError: "['primary_title'] not found in axis"

In [30]:
title_ba_ra.head(10)

,tconst,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77
1,tt0066787,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43
2,tt0069049,The Other Side of the Wind,2018,122.0,Drama,6.9,4517
3,tt0069204,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13
4,tt0100275,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119
5,tt0112502,Bigfoot,2017,NaN,"Horror,Thriller",4.1,32
6,tt0137204,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy",8.1,263
7,tt0146592,Pál Adrienn,2010,136.0,Drama,6.8,451
8,tt0154039,Oda az igazság,2010,100.0,History,4.6,64
9,tt0159369,Cooper and Hemingway: The True Gen,2013,180.0,Documentary,7.6,53

## heading

In [ ]:
### i want see any movie have at least more than 6 average ratings
df.loc[df['year'] > 2010]

In [39]:
title_ba_ra.loc[title_ba_ra['averagerating'] > 6]
title_ba_ra.head()
title_ba_ra.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73856 entries, 0 to 73855
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tconst           73856 non-null  object
 1   original_title   73856 non-null  object
 2   start_year       73856 non-null  int64
 3   runtime_minutes  66236 non-null  float64
 4   genres           73052 non-null  object
 5   averagerating    73856 non-null  float64
 6   numvotes         73856 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 4.5+ MB

In [ ]:
### also want to see those movies at least got >10 votes.

In [48]:
title_ba_ra = title_ba_ra.loc[title_ba_ra['numvotes'] >10]
title_ba_ra.head(20)

,tconst,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77
1,tt0066787,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43
2,tt0069049,The Other Side of the Wind,2018,122.0,Drama,6.9,4517
3,tt0069204,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13
4,tt0100275,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119
5,tt0112502,Bigfoot,2017,NaN,"Horror,Thriller",4.1,32
6,tt0137204,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy",8.1,263
7,tt0146592,Pál Adrienn,2010,136.0,Drama,6.8,451
8,tt0154039,Oda az igazság,2010,100.0,History,4.6,64
9,tt0159369,Cooper and Hemingway: The True Gen,2013,180.0,Documentary,7.6,53
10,tt0162942,A zöld sárkány gyermekei,2010,89.0,Drama,6.9,120
12,tt0176694,Az ember tragédiája,2011,160.0,"Animation,Drama,History",7.8,584
13,tt0192528,Reverse Heaven,2018,104.0,Drama,4.0,72
15,tt0247643,Los pájaros se van con la muerte,2011,110.0,"Drama,Mystery",4.0,12
16,tt0249516,Foodfight!,2012,91.0,"Action,Animation,Comedy",1.9,8248
17,tt0250404,Godfather,2012,NaN,"Crime,Drama",6.7,236
19,tt0255820,Return to Babylon,2013,75.0,"Biography,Comedy,Drama",5.9,123
20,tt0262218,Akakis mogzauroba,2012,44.0,Documentary,7.8,22
21,tt0263814,On kadin,2019,NaN,Drama,7.1,100
23,tt0277964,Praha - neklidné srdce Evropy,2018,59.0,"Documentary,History",7.0,31

In [40]:
title_ba_ra.genres.()

AttributeError: 'Series' object has no attribute 'info'

In [45]:
title_ba_ra.loc[title_ba_ra['averagerating'] > 6.0]
title_ba_ra.head(20)

,tconst,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77
1,tt0066787,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43
2,tt0069049,The Other Side of the Wind,2018,122.0,Drama,6.9,4517
3,tt0069204,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13
4,tt0100275,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119
5,tt0112502,Bigfoot,2017,NaN,"Horror,Thriller",4.1,32
6,tt0137204,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy",8.1,263
7,tt0146592,Pál Adrienn,2010,136.0,Drama,6.8,451
8,tt0154039,Oda az igazság,2010,100.0,History,4.6,64
9,tt0159369,Cooper and Hemingway: The True Gen,2013,180.0,Documentary,7.6,53
10,tt0162942,A zöld sárkány gyermekei,2010,89.0,Drama,6.9,120
11,tt0170651,T.G.M. - osvoboditel,2018,60.0,Documentary,7.5,6
12,tt0176694,Az ember tragédiája,2011,160.0,"Animation,Drama,History",7.8,584
13,tt0192528,Reverse Heaven,2018,104.0,Drama,4.0,72
14,tt0230212,The Final Journey,2010,120.0,Drama,8.8,8
15,tt0247643,Los pájaros se van con la muerte,2011,110.0,"Drama,Mystery",4.0,12
16,tt0249516,Foodfight!,2012,91.0,"Action,Animation,Comedy",1.9,8248
17,tt0250404,Godfather,2012,NaN,"Crime,Drama",6.7,236
18,tt0253093,Gangavataran,2018,134.0,NaN,6.6,8
19,tt0255820,Return to Babylon,2013,75.0,"Biography,Comedy,Drama",5.9,123

In [46]:
# Import pyplot for plotting
import matplotlib.pyplot as plt

%matplotlib inline